#exportPattern("^[[:alpha:]]+")
export(EstimateGroupNetwork, covNoBessel, GroupNetworkBoot, GroupBootPlot, BootTable)
importFrom("parallel", "makeCluster", "clusterExport", "parApply", "parSapply", "parLapply", "stopCluster")
importFrom("igraph", "graph.adjacency", "clusters")
importFrom("qgraph", "wi2net")
importFrom("stats", "cov", "cov2cor", "optim", "optimize")
importFrom("dplyr", "%>%", "group_by", "summarise_all", "arrange", "mutate_all")
importFrom("ggplot2", "ggplot", "geom_point", "geom_line", "geom_ribbon", "coord_flip", "scale_color_manual", "geom_hline", "facet_grid", "theme_bw", "theme", "aes", "element_blank")
importFrom("stats", "quantile")
