#exportPattern("^[[:alpha:]]+")
export(EstimateGroupNetwork, covNoBessel)
importFrom("parallel", "makeCluster", "clusterExport", "parApply", "parSapply", "parLapply", "stopCluster")
importFrom("igraph", "graph.adjacency", "clusters")
importFrom("qgraph", "wi2net")
importFrom("stats", "cov", "cov2cor", "optim", "optimize")
